*.class
target/
.classpath
.project
.settings
.metadata
.idea/
*.iml
derby.log
datanucleus.log
sentry-core/sentry-core-common/src/gen
**/TempStatsStore/
# Package Files #
*.jar
*.war
*.ear
test-output/
maven-repo/
